*{margin:0, padding 50}

.parent-container{
    display: flex;
    background-color: purple;
    justify-content:space-around;
    text-decoration: none;
    flex-direction: row;            
    flex-wrap: nowrap; 
}

.header{
    display: flex;
    background-color: purple;
    justify-content:flex-end;
    text-decoration: none;
    flex-direction: row;            
    flex-wrap: nowrap; 
}

a{
    color: white;
}

@media (max-width: 500px) {
    .parent-container{
      float: none;
      display: block;
      text-align: left;
}

.header{
    justify-content: flex-start;
}

}